In [1]:
import pandas as pd
import numpy as np
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Load the dataset
file_path = '/content/Amazon Sales data.csv'  # Update the path to your dataset
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
print("Initial data preview:")
print(data.head())

Mounted at /content/drive
Initial data preview:
                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50

In [2]:
# Verify column names
print("Columns in the dataset:")
print(data.columns)

# Display a sample of the data to identify the correct sales column
print("Sample data:")
print(data.head())

Columns in the dataset:
Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')
Sample data:
                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H  5/28/2010  669165933  6/27/2010        9925
1        Online              C  8/22/2012  963881480  9/15/2012        2804
2       Offline              L   5/2/2014  341417157   5/8/2014        1779
3        Online              C  6/20/2014  514321792   7/5/2014        8102
4       Offline              L   2/1/2013  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50

In [3]:
# Input the correct column name for sales data
sales_column_name = 'Total Revenue'
print(f"Using '{sales_column_name}' as the sales column.")

Using 'Total Revenue' as the sales column.

In [5]:
import pandas as pd

# Add columns for 'Order Month' and 'Order Year'
data['Order Date'] = pd.to_datetime(data['Order Date'])
data['Order Month'] = data['Order Date'].dt.month
data['Order Year'] = data['Order Date'].dt.year

# Verify that the new columns have been added
print("Columns in the dataset after adding 'Order Month' and 'Order Year':")
print(data.columns)

# Display a sample of the data to verify the new columns
print("Sample data after adding 'Order Month' and 'Order Year':")
print(data.head())

Columns in the dataset after adding 'Order Month' and 'Order Year':
Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit',
       'Order Month', 'Order Year'],
      dtype='object')
Sample data after adding 'Order Month' and 'Order Year':
                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies

  Sales Channel Order Priority Order Date   Order ID  Ship Date  Units Sold  \
0       Offline              H 2010-05-28  669165933  6/27/2010        9925
1        Online              C 2012-08-22  963881480  9/15/2012        2804
2       Offline              L 2014-05-02  341417157   5/8/2014        1779
3        Online              C 2014-06-20  514321792   7/5/2014        8102
4       Offline              L 2013-02-01  115456712   2/6/2013        5062

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit  \
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50

   Order Month  Order Year
0            5        2010
1            8        2012
2            5        2014
3            6        2014
4            2        2013

In [6]:
# Input the correct column name for sales data
sales_column_name = 'Total Revenue'
print(f"Using '{sales_column_name}' as the sales column.")

# Sales trend analysis
if sales_column_name in data.columns:
    # Month-wise sales trend
    month_wise_sales = data.groupby('Order Month')[sales_column_name].sum().reset_index()

    # Year-wise sales trend
    year_wise_sales = data.groupby('Order Year')[sales_column_name].sum().reset_index()

    # Yearly month-wise sales trend
    year_month_wise_sales = data.groupby(['Order Year', 'Order Month'])[sales_column_name].sum().reset_index()

    # Display the results
    print("Month-wise sales trend:")
    print(month_wise_sales.head())

    print("Year-wise sales trend:")
    print(year_wise_sales.head())

    print("Yearly month-wise sales trend:")
    print(year_month_wise_sales.head())

    # Key metrics and relationships
    sales_by_category = data.groupby('Item Type')[sales_column_name].sum().reset_index()
    profit_by_region = data.groupby('Region')['Total Profit'].sum().reset_index()
    sales_profit_by_subcategory = data.groupby('Item Type').agg({sales_column_name: 'sum', 'Total Profit': 'sum'}).reset_index()

    # Display the results
    print("Sales by Category:")
    print(sales_by_category.head())

    print("Profit by Region:")
    print(profit_by_region.head())

    print("Sales and Profit by Item Type:")
    print(sales_profit_by_subcategory.head())

    # Save transformed data
    output_file_path = '/content/drive/My Drive/transformed_amazon_sales_data.csv'
    data.to_csv(output_file_path, index=False)
    print(f"Transformed data saved to {output_file_path}")
else:
    print(f"Column '{sales_column_name}' not found in the dataset. Please check the column name and try again.")

Using 'Total Revenue' as the sales column.
Month-wise sales trend:
   Order Month  Total Revenue
0            1    10482467.12
1            2    24740517.77
2            3     2274823.87
3            4    16187186.33
4            5    13215739.99
Year-wise sales trend:
   Order Year  Total Revenue
0        2010    19186024.92
1        2011    11129166.07
2        2012    31898644.52
3        2013    20330448.66
4        2014    16630214.43
Yearly month-wise sales trend:
   Order Year  Order Month  Total Revenue
0        2010            2     3410661.12
1        2010            5     2587973.26
2        2010            6     1082418.40
3        2010           10     6064933.75
4        2010           11     3458252.00
Sales by Category:
   Item Type  Total Revenue
0  Baby Food     10350327.6
1  Beverages      2690794.6
2     Cereal      5322898.9
3    Clothes      7787292.8
4  Cosmetics     36601509.6
Profit by Region:
                              Region  Total Profit
0                               Asia    6113845.87
1              Australia and Oceania    4722160.03
2  Central America and the Caribbean    2846907.85
3                             Europe   11082938.63
4       Middle East and North Africa    5761191.86
Sales and Profit by Item Type:
   Item Type  Total Revenue  Total Profit
0  Baby Food     10350327.6    3886643.70
1  Beverages      2690794.6     888047.28
2     Cereal      5322898.9    2292443.43
3    Clothes      7787292.8    5233334.40
4  Cosmetics     36601509.6   14556048.66
Transformed data saved to /content/drive/My Drive/transformed_amazon_sales_data.csv